body 
{
  margin: 0;
  font-family: Georgia, serif;
}

.navigation 
{
  margin: auto;
  width: 942px;
  display: flex;
}

.navigation__item 
{
  padding: 15px 23px 14px 44px;
  font-size: 19px;
  text-decoration: none;
  color: #333;
  background-repeat: no-repeat;
  background-position: 19px 17px;
}

.navigation__item--active 
{
  background: #15a98c;
  color: #fff;
  background-repeat: no-repeat;
  background-position: 19px 17px;
}

.navigation__item--about 
{
  background-image: url("../img/about_me_icon-active.png");
}

.navigation__item--hobby 
{
  background-image: url("../img/hobby_icon.png");
}

.navigation__item--films 
{
  background-image: url("../img/video_icon.png");
}

.thumbnail 
{
  z-index: -999;
}

.thumbnail__image 
{
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
  filter: brightness(0.5);
}

.content 
{
  margin: auto;
  width: 942px;
  display: flex;
}

.content__side 
{
  width: 330px;
}

.content__main 
{
  width: 570px;
  margin-left: 63px;
  z-index: 999;
}

.content__side 
{
  margin-top: -190px;
  z-index: 999;
}

.content__side__picture 
{
  display: block;
  width: 330px;
  height: 350px;
  border-radius: 5px;
  object-fit: cover;
}

.content__side__title 
{
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  color: #15a98c;
  font-weight: 600;
  margin-top: 44px;
  margin-bottom: 20px;
}

.content__side__list 
{
  padding-left: 20px;
  font-size: 19px;
  margin: 0;
}

.content__side__list__item
{
  margin-bottom: 15px;
}

.quote 
{
  margin-top: -191px;
  z-index: 999;
  line-height: 40px;
  position: absolute;
  width: 505px;
}

.quote__text 
{
  font-size: 28px;
  font-style: italic;
  color: #fff;
  margin: 0;
  margin-top: 28px;
}

.quote__author 
{
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  margin-top: 5px;
  letter-spacing: 0.3px;
  display: block;
}

.content__main__header 
{
  font-size: 48px;
  font-weight: 700;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  margin-top: 33px;
  margin-bottom: 20px;
}

.content__main__divider 
{
    width: 60px;
    height: 6px;
    background-color: #15a98c;
    border-radius: 3px;
    margin-bottom: 40px;
}

.content__main__text 
{
    margin: 12px 0 3px;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: 0.4px;
}

.content__main__title 
{
    font-family: "Open Sans", sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin-left: -5px;
    margin-top: 38px;
    margin-bottom: 12px;
}

.footer 
{
  background-color: #f5f5f5;
  padding: 19px 0;
}

.footer__text 
{
  font-size: 16px;
  margin: 0;
  line-height: 32px;
  text-align: center;
  color: #555555;
}

.section 
{
  width: 1200px;
  margin: auto;
}

.content__main__link 
{
    font-size: 19px;
    line-height: 32px;
    color: #15a98b;
    font-family: "Georgia";
}
